server:
  port: 8080
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 60000
      idle-timeout: 3000
      maximum-pool-size: 200
      minimum-idle: 30
      poolName: HikariCP-local
    password: Prashant@123
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://localhost:3306/uhgsmedb
    username: root
  graphql:
    graphiql:
      enabled: true
  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        use_sql_comments: true
